.container4{
    
    background-color: aliceblue;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;

}
.stretch{
    width: 20px;
    height: 20px;
    
}